<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title></title>
</head>
<body>
<div class="box box-primary" id="user_settings" th:if="${brief} == off">
    <div th:if="${badinput} == true">
        <h3>Oops! Bad input!</h3>
    </div>
    <div th:if="${update}== true">
        <h3>Update Success!</h3>
    </div>

    <div class="box-header">
        <h3 class="box-title">Edit User Details</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" action="#" th:action="@{/labtwo/users/update}" th:object="${updateUser}" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>User Id</label>

                <p><input type="text" id="userid" name="userid" class="form-control" th:value="${javahomepage.userid}"
                          readonly="1"/></p>
                <label>Email address</label>

                <p><input type="text" id="email" name="email" class="form-control" th:value="${javahomepage.email}"/></p>
                <label>Password</label>

                <p><input type="password" id="password" name="password" class="form-control"
                          th:value="${javahomepage.password}"/></p>
                <label>First Name</label>

                <p><input type="text" id="firstname" name="firstname" class="form-control"
                          th:value="${javahomepage.firstname}"/></p>
                <label>Last Name</label>

                <p><input type="text" id="lastname" name="lastname" class="form-control"
                          th:value="${javahomepage.lastname}"/>
                </p>
                <label>Address</label>

                <p><input type="text" id="address" name="address" class="form-control" th:value="${javahomepage.address}"/>
                </p>
                <label>Organization</label>

                <p><input type="text" id="organization" name="organization" class="form-control"
                          th:value="${javahomepage.organization}"/></p>
                <label>About Yourself</label>

                <p><input type="text" id="aboutyourself" name="aboutyourself" class="form-control"
                          th:value="${javahomepage.aboutyourself}"/></p>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit">Update</button>
        </div>
    </form>
    <div class="box box-primary" id="user_delete">
        <div class="box-header">
            <h3 class="box-title">Delete User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="#" th:action="@{./delete}" th:object="${deleteUser}" method="post">
            <div class="box-body">
                <div class="form-group">
                    <input type="hidden" th:field="${javahomepage.userid}"/>
                    <label>Are you sure you want to delete user?</label>
                    <button type="submit">Click to Continue</button>
                </div>

            </div>
            <!-- /.box-body -->
        </form>
    </div>
</div>
<div th:if="${brief} == on">
<pre>
    <p th:text="${jsonhomepage}"/>
</pre>
</div>
<!-- /.box -->
</body>
</html>